@import '/node_modules/bootstrap/scss/bootstrap.scss';

.labels {
  line-height: 20px;

  li {
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    padding: 2px 8px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    color: #777;
    border-radius: 4px;
    border: 1px solid gray;
  }
}

.figure-img {
  border: 1px solid #dadada;
}
